<a href="https://colab.research.google.com/github/Viny2030/HUMAI/blob/main/Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/1_Indexing/Indexing.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>

In [4]:
!python --version

Python 3.11.11

In [1]:
# Siempre al principio, importamos las librerías.
import pandas as pd
import numpy as np

# Indexación y Agregación

Tabla de Contenidos

    I. Análisis de datos con Pandas
    II. Los objetos fundamentales de Pandas
        I. Series
        II. DataFrames
        III. Índices
    III. Exploración
        I. Filtrando un DataFrame (Indexing)
            I. Boolean Indexing
                I. Máscara booleana
                II. Máscara booleana con muchas condiciones
            II. Boolean indexing con query()
            III. Fancy Indexing
        II. Funciones de Agregación
    IV. Otros análisis descriptivos
        I. Para las variables numéricas
        II. Para las variables categóricas
        III. Ordenar por columnas y limitar la cantidad de resultados
    V. Anexo: volviendo al tema de la vectorización

## Exploración

Vamos a analizar datos de una fuente real. Los ingresos de los funcionarios son información pública que se libera anualmente en el <a href='https://data.buenosaires.gob.ar/dataset/sueldo-funcionarios'>portal de datos abiertos</a> de GCBA.  

En general los 4 primeros pasos para analizar un data set son:
1. Leerlo
2. Consultar cuáles son las columnas
3. Extraer una muestra
4. Verificar cuántos registros tiene

## 1- Para leer el data set usamos la función de pandas read_csv

Con esta función podemos leer archivos que estén en una url pública o en una ubicación del disco accesible desde la Jupyter Notebook.

In [5]:
df = pd.read_csv('http://cdn.buenosaires.gob.ar/datosabiertos/datasets/sueldo-funcionarios/sueldo_funcionarios_2019.csv')

In [9]:
df

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
0,20-17692128-6,2019,1,RODRIGUEZ LARRETA,HORACIO ANTONIO,Jefe de Gobierno,197745.80,0.00,197745.80,NaN
1,20-17735449-0,2019,1,SANTILLI,DIEGO CESAR,Vicejefatura de Gobierno,197745.80,0.00,197745.80,NaN
2,27-24483014-0,2019,1,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,224516.62,0.00,224516.62,NaN
3,20-13872301-2,2019,1,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,224516.62,0.00,224516.62,NaN
4,20-25641207-2,2019,1,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,224516.62,0.00,224516.62,NaN
...,...,...,...,...,...,...,...,...,...,...
380,20-26735689-1,2019,12,MENDEZ,JUAN JOSE,SECR Transporte y Obras Públicas,249972.86,124986.43,374959.29,NaN
381,20-23864572-8,2019,12,STRAFACE,FERNANDO DIEGO,SECR General y Relaciones Internacionales,275089.75,137544.87,412634.62,NaN
382,20-21981279-6,2019,12,SCRENCI SILVA,BRUNO GUIDO,Ministerio de Gobierno,275089.75,137544.87,412634.62,NaN
383,20-30593774-7,2019,12,AVELLANEDA,PATRICIO IGNACIO,"SECR Planificación, Evaluación y Coordinación ...",249972.86,124986.43,374959.29,NaN
384,27-27011181-0,2019,12,FERNANDEZ,KARINA BEATRIZ,SECR Asuntos Estratégicos,187539.45,15628.29,203167.74,alta desde el 10/12

## 2- Consultamos las columnas

In [6]:
df.columns

Index(['cuil', 'anio', 'mes', 'funcionario_apellido', 'funcionario_nombre',
       'reparticion', 'asignacion_por_cargo_i', 'aguinaldo_ii',
       'total_salario_bruto_i_+_ii', 'observaciones'],
      dtype='object')

## 3- Extraemos una muestra

In [10]:
df.sample(10)

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
308,27-26690980-8,2019,10,UHALDE,MARIA PAULA,SECR Cultura Ciudadana y Función Pública,249972.87,0.00,249972.87,NaN
136,20-24941711-5,2019,5,MURA,MARTIN,Ministerio de Economía y Finanzas,249661.60,0.00,249661.60,NaN
45,20-23864572-8,2019,2,STRAFACE,FERNANDO DIEGO,SECR General y de Relaciones Internacionales,224516.62,0.00,224516.62,NaN
370,27-17593512-1,2019,12,MONTIEL,MARIA LETICIA,SECR Legal y Técnica,267913.50,133956.75,401870.25,NaN
204,20-30593774-7,2019,7,AVELLANEDA,PATRICIO IGNACIO,"SECR Planificación, Evaluación y Coordinación ...",239470.36,0.00,239470.36,NaN
118,27-21759789-2,2019,4,LEGUIZAMON,ISABELLA KARINA,"Consejo de los Derechos de Niñas, Niños y Adol...",226866.41,0.00,226866.41,NaN
105,20-24941711-5,2019,4,MURA,MARTIN,Ministerio de Economía y Finanzas,249661.60,0.00,249661.60,NaN
161,20-25641207-2,2019,6,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,249661.60,124830.80,374492.40,NaN
282,20-17735449-0,2019,10,SANTILLI,DIEGO CESAR,Vicejefatura de Gobierno,245811.62,0.00,245811.62,NaN
19,20-24424714-9,2019,1,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,204017.27,0.00,204017.27,NaN

In [8]:
# prompt: df

import pandas as pd
import numpy as np

df = pd.read_csv('http://cdn.buenosaires.gob.ar/datosabiertos/datasets/sueldo-funcionarios/sueldo_funcionarios_2019.csv')

In [7]:
df.sample(5)

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
378,20-22293622-6,2019,12,FERNANDEZ,DIEGO HERNAN,SECR Integración Social y Urbana,249972.86,124986.43,374959.29,NaN
324,27-24030362-6,2019,11,TAGLIAFERRI,GUADALUPE,Ministerio de Hábitat y Desarrollo Humano,275089.75,0.00,275089.75,NaN
207,20-24424714-9,2019,7,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,239470.36,0.00,239470.36,NaN
45,20-23864572-8,2019,2,STRAFACE,FERNANDO DIEGO,SECR General y de Relaciones Internacionales,224516.62,0.00,224516.62,NaN
358,20-31164337-2,2019,12,DI BENEDETTO,FEDERICO,SS Comunicacion,74991.86,110404.68,185396.54,baja al 9/12

## 4- Consultamos la cantidad de filas y de columnas

In [11]:
# La propiedad shape nos devuelve una tupla (filas,columnas)
df.shape

(385, 10)

## Vectorización con Pandas

Pandas es una de las librerías de Python más usadas para análisis de datos. El nombre pandas viene de "Panel Data Analysis" y su funcionalidad permite hacer operaciones sobre datos que se encuentran en memoria de manera eficiente.

Pandas es útil para trabajar sobre datos tabulares, con dos condiciones importantes:

I. Los datos se encuentran enteramente en la memoria RAM. Con lo cual, el tamaño de los datos que podemos manipular está limitado por el hardware. Como regla de pulgar, es una buena práctica no ocupar más de 1/3 de la memoria RAM de nuestro dispositivo con el dataset. Así, si estamos trabajando localmente en una notebook con 8GB de memoria RAM no es recomendable procesar datasets de más de 2.33GB.

II. En pandas, las operaciones sobre filas y columnas son, en general, eficientes porque se hacen de forma "vectorizada". En realidad esta optimización, se hace desde numpy, una librería para realizar operaciones matemáticas que se utilizó a su vez para escribir pandas.

Las operaciones vectorizadas son las que se realizan en bloque en vez de caso por caso. Las computadoras de hoy tienen la capacidad de recibir muchas instrucciones juntas y procesar varias de ellas a la vez. Por ejemplo, si nuestro hardware tiene la capacidad de procesar 4 operaciones juntas, el resultado de vectorizar una operación matemática es el siguiente:

<img src = 'https://datasets-humai.s3.amazonaws.com/images/vectorizacion.png' />


En el primer caso hay que hacer 5 operaciones y en el segundo caso sólo dos.

Es importante entender, entonces, que Pandas trabaja de esta manera y que por eso es una de las herramientas más elegidas para manipular datos en memoria.

## Los objetos fundamentales de Pandas

### Series

Las series son "columnas" que de una tabla que están asociadas a un índice y a un nombre. Igual que una lista común de Python es una secuencia de elementos ordenados, pero a diferencia de la lista está asociada a más información.

In [12]:
# Las series se pueden crear a partir de una lista
serie = pd.Series(['a','b','c'])

In [13]:
# Propiedades importantes de las series
print('Tipo de objetos que tiene ', serie.dtype)
print('Nombre ', serie.name)
print('Index ',serie.index)
print('Valores ',serie.values)

Tipo de objetos que tiene  object
Nombre  None
Index  RangeIndex(start=0, stop=3, step=1)
Valores  ['a' 'b' 'c']

## DataFrames

Los DataFrames son "tablas", compuestas por varias "columnas" o series que comparten todas un mismo índice. En general los DataFrames se crean a partir de leer tablas de archivos (pueden ser en formato json o csv) pero a veces también se crean a partir de listas de diccionarios o de otras maneras.

Los DataFrames tienen un objeto Index que describe los nombres de columnas y otro objeto Index que describen los nombres de las filas.

In [14]:
# Leemos un dataset público
df = pd.read_csv('http://cdn.buenosaires.gob.ar/datosabiertos/datasets/sueldo-funcionarios/sueldo_funcionarios_2019.csv')

In [15]:
# Propiedades importantes de los dataframes
print('Columnas ', df.columns)
print('Index ', df.index)
print('Dimensiones ',df.shape)

Columnas  Index(['cuil', 'anio', 'mes', 'funcionario_apellido', 'funcionario_nombre',
       'reparticion', 'asignacion_por_cargo_i', 'aguinaldo_ii',
       'total_salario_bruto_i_+_ii', 'observaciones'],
      dtype='object')
Index  RangeIndex(start=0, stop=385, step=1)
Dimensiones  (385, 10)

In [16]:
# Consultar las primeras filas
df.head()

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
0,20-17692128-6,2019,1,RODRIGUEZ LARRETA,HORACIO ANTONIO,Jefe de Gobierno,197745.80,0.0,197745.80,NaN
1,20-17735449-0,2019,1,SANTILLI,DIEGO CESAR,Vicejefatura de Gobierno,197745.80,0.0,197745.80,NaN
2,27-24483014-0,2019,1,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,224516.62,0.0,224516.62,NaN
3,20-13872301-2,2019,1,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,224516.62,0.0,224516.62,NaN
4,20-25641207-2,2019,1,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,224516.62,0.0,224516.62,NaN

Si queremos extraer una serie del DataFrame, podemos hacerlo de la misma forma en que extraemos un valor de un diccionario.

In [17]:
serie_mes = df['mes']

In [18]:
type(serie_mes)

pandas.core.series.Series

## Índices

Los índices acompañan a las series y a los Data Frames. Son conjuntos ordenados e inmutables de elementos

In [19]:
df.index

RangeIndex(start=0, stop=385, step=1)

In [20]:
df.columns

Index(['cuil', 'anio', 'mes', 'funcionario_apellido', 'funcionario_nombre',
       'reparticion', 'asignacion_por_cargo_i', 'aguinaldo_ii',
       'total_salario_bruto_i_+_ii', 'observaciones'],
      dtype='object')

In [21]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [23]:
ind[1] = 0  ## asigno valores a un indice error

TypeError: Index does not support mutable operations

### Ejercicio
Exploren el dataset público que se encuentra en la siguiente url: https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv ¿De qué se trata? ¿Cuántas filas tiene? ¿Cuántas columnas? Al leerlo, pueden almacenarlo en la variable df_titanic.

In [25]:
import pandas as pd
import io
import requests

# Fetch the CSV data using requests
url = 'https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv'
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read the CSV data into a pandas DataFrame
    df1 = pd.read_csv(io.StringIO(response.text))
else:
    print(f"Error downloading CSV file: Status code {response.status_code}")

Error downloading CSV file: Status code 403

In [30]:
df1 = pd.read_csv('https://raw.githubusercontent.com/Viny2030/datasets/refs/heads/main/titanic_dataset.csv')

In [31]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [34]:
df1.shape

(891, 12)

## Filtrando un DataFrame (Indexing)

Hay muchas técnicas para filtrar un DataFrame. Podemos querer filtrar por columnas o por filas, por posición o por nombre. También podemos querer filtrar por condiciones que se cumplen o no. Cuando no queremos filtrar sobre una dimensión (filas o columnas) usamos ":" para seleccionar todo.


<img src='https://github.com/institutohumai/cursos-python/blob/master/AnalisisDeDatos/1_Indexing/img/indexing.png?raw=1' style='height:350px' />

### Boolean Indexing

Supongamos que queremos tomar el dataset de funcionarios y quedarnos únicamente con los que pertenecen al Ministerio de Cultura.
Para eso lo que hacemos es indexar al DataFrame por una condición booleana. Eso implica que debemos crear una serie compuesta por valores True y False para aplicarla como índice a las filas.

Los operadores que sirven para evaluar condiciones sobre las series son:


| S  | Descripción   | S  | Descripción   |   |
|----|---------------|----|---------------|---|
| >= | Mayor o Igual | <= | Menor o Igual |   |
| == | Igual         | != | Distinto      |   |
| >  | Mayor         | <  | Menor         |   |

#### Máscara booleana

Veamos lo que pasa cuando le aplicamos a una serie una condición que devuelve un booleano

In [35]:
df['anio'] != 2019

0      False
1      False
2      False
3      False
4      False
       ...
380    False
381    False
382    False
383    False
384    False
Name: anio, Length: 385, dtype: bool

In [36]:
mascara_booleana = df['anio'] != 2019

Nos devuelve una serie de la misma longitud que la original y que contiene sólo valores True o False.

In [37]:
type(mascara_booleana)

pandas.core.series.Series

In [38]:
mascara_booleana.shape

(385,)

In [63]:
mascara_booleana.dtype

dtype('bool')

Ahora seleccionemos entonces, los registros que corresponden al Ministerio de Cultura.

In [40]:
df_min_cul = df.loc[df['reparticion'] == 'Ministerio de Cultura',:]

In [41]:
# Veamos la cantidad de casos
df_min_cul.shape

(12, 10)

Algo que puede llegar a confundir sobre el Indexing en Pandas es que en algunos casos se puede ser menos explícito a la hora de filtrar. Por ejemplo si ponemos una condición Booleana, pandas asume que el tipo de indexing es loc y que el filtro es sobre las filas y no sobre las columnas:

In [42]:
df_min_cul = df[df['reparticion'] == 'Ministerio de Cultura']

In [43]:
df_min_cul.shape

(12, 10)

Probemos con otra condición.

### Ejercicio

Traer todos los sueldos de la segunda mitad del año...

In [67]:
df_sem2 = df[df['mes'] > 6]

In [68]:
df_sem2.shape

(197, 10)

### Ejercicio
Volviendo al DataFrame del Titanic ¿Cuántos pasajeros sobrevivieron y cuántos no? ¿Cuántos pagaron una tarifa menor a 25?

In [71]:
df1_sobrevivieron = df1[df1['Survived'] == 1]
df1_no_sobrevivieron = df1[df1['Survived'] == 0]

In [70]:
df1_sobrevivieron.shape

(342, 12)

In [72]:
df1_no_sobrevivieron.shape

(549, 12)

In [73]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [75]:
df1.query('Fare < 25').shape

(557, 12)

#### Máscara booleana con muchas condiciones

Ahora tratemos de filtrar el dataset por dos condiciones: por ejemplo tomar los sueldos de abril de la secretaria de innovación.
Para eso tenemos que combinar dos máscaras booleanas con una condición.

| S | Descripcion        | S  | Descripcion |   |
|---|--------------------|----|-------------|---|
| & | AND (y)            | \| | OR (o)      |   |
| ^ | XOR (o exclusivo)  | ~  | NOT (no)    |   |



Por ejemplo: seleccionemos los casos donde o bien se haya cobrado aguinaldo o bien el salario total haya sido mayor que 240.000, pero no las dos cosas.

In [44]:
df[(df['total_salario_bruto_i_+_ii'] > 240000) ^ (df['aguinaldo_ii'] > 0)]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
55,20-26781618-3,2019,2,LARRE,PEDRO ANDRES,"SECR Ciencia, Tecnologia e Innovacion",204017.27,34002.88,238020.15,baja 28/2/2019
97,27-24483014-0,2019,4,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,249661.60,0.00,249661.60,NaN
98,20-13872301-2,2019,4,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,249661.60,0.00,249661.60,NaN
99,20-25641207-2,2019,4,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,249661.60,0.00,249661.60,NaN
100,27-13221055-7,2019,4,BOU PEREZ,ANA MARIA,Ministerio de Salud,249661.60,0.00,249661.60,NaN
...,...,...,...,...,...,...,...,...,...,...
360,20-28908968-4,2019,12,COELHO CHICANO,CHRISTIAN,SS Contenidos,74991.86,110404.68,185396.54,baja al 9/12
361,20-28908968-4,2019,12,COELHO CHICANO,CHRISTIAN,SECR de Medios,187539.45,15628.29,203167.74,alta desde el 10/12
362,20-24424714-9,2019,12,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,74991.86,110404.68,185396.54,baja al 9/12
363,20-24424714-9,2019,12,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,187539.45,15628.29,203167.74,alta desde el 10/12
384,27-27011181-0,2019,12,FERNANDEZ,KARINA BEATRIZ,SECR Asuntos Estratégicos,187539.45,15628.29,203167.74,alta desde el 10/12

In [76]:
df[(df['total_salario_bruto_i_+_ii'] > 240000) ^ (df['aguinaldo_ii'] > 0)].shape

(170, 10)

Ahora veamos los sueldos de febrero de la SECR Ciencia, Tecnologia e Innovacion.

In [45]:
df[(df['mes'] == 2) & (df['reparticion'] == 'SECR Ciencia, Tecnologia e Innovacion')]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
55,20-26781618-3,2019,2,LARRE,PEDRO ANDRES,"SECR Ciencia, Tecnologia e Innovacion",204017.27,34002.88,238020.15,baja 28/2/2019

### Boolean indexing con query()

La sintaxis que se utiliza para hacer Boolean indexing es un poco repetitiva. Noten que filtrar (aún en su expresión más corta sin loc ni especificar filas o columnas) implica ESCRIBIR DOS VECES el nombre del dataset. Para crear un shortcut, Pandas ofrece la función .query()

In [46]:
df_cult = df.query('reparticion == "Ministerio de Cultura"')

In [77]:
df_cult.shape

(12, 10)

También se puede hacer query sobre múltiples condiciones.

In [47]:
df2 = df.query('asignacion_por_cargo_i > 240000 & aguinaldo_ii > 0')

In [50]:
df2.shape

(34, 10)

### Ejercicio: Piensen cómo traducir a la sintaxis de query, estas consultas que ya hicimos:

In [79]:
##df_sem2 = df[df['mes'] > 6]
df_sem2 = df.query('mes > 6')

In [80]:
# df[(df['mes'] == 2) & (df['reparticion'] == 'SECR Ciencia, Tecnologia e Innovacion')]
df.query('mes == 2 & reparticion == "SECR Ciencia, Tecnologia e Innovacion"')

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
55,20-26781618-3,2019,2,LARRE,PEDRO ANDRES,"SECR Ciencia, Tecnologia e Innovacion",204017.27,34002.88,238020.15,baja 28/2/2019

### Fancy Indexing

Ahora vamos a quedarnos con un subconjunto de columnas del DataFrame.

In [51]:
df_view = df.loc[:,['anio','mes']]

In [81]:
df.query('mes == 2 & reparticion == "SECR Ciencia, Tecnologia e Innovacion"')

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
55,20-26781618-3,2019,2,LARRE,PEDRO ANDRES,"SECR Ciencia, Tecnologia e Innovacion",204017.27,34002.88,238020.15,baja 28/2/2019

In [52]:
df_view.shape

(385, 2)

Existe una forma menos explícita de hacer esta misma operación. Si pasamos una lista al indexing, pandas asume que el tipo de indexing es loc y que el filtro es sobre las columnas y no las filas:

In [53]:
df_view = df[['anio','mes']]

In [54]:
df_view.shape

(385, 2)

Fíjense lo que pasa si tratamos de acceder a filas utilizando una lista de nombres, en este caso [0,1].

In [55]:
# Incorrecto
df_view = df[[3,8]]

KeyError: "None of [Index([3, 8], dtype='int64')] are in the [columns]"

Nos da un error porque cuando pasamos únicamente una lista al indexing, pandas asume que queremos un set de columnas y si los nombres no existen, da error. La forma correcta de hacerlo es pasar una lista de índices y explicitar que vamos a indizar con loc y que seleccionamos todas las columnas.

In [56]:
# Correcto
df_view = df.loc[[3,8],:]

In [ ]:
df_view

### Ejercicio. Volviendo al ejemplo del titanic...

1) ¿Cuántos hombres y mujeres sobrevivieron?

2) ¿Cuántos menores de 18 años había? ¿Cuántos sobrevivieron?

3) Seleccionen únicamente las columnas Sex y Survived y almacenenlas en un nuevo DataFrame que se llame df_titanic_subset.

In [82]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [87]:
df1.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [88]:
df1.query ('Sex == "female" & Survived == 1')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S

In [89]:
df1.query ('Sex == "male" & Survived == 1')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...,...
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [90]:
df1.query ('Age < 18 & Survived == 1')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C

In [91]:
df1_subset = df1[['Sex','Survived']]

In [92]:
df1_subset

        Sex  Survived
0      male         0
1    female         1
2    female         1
3    female         1
4      male         0
..      ...       ...
886    male         0
887  female         1
888  female         0
889    male         1
890    male         0

[891 rows x 2 columns]

In [95]:
df1_subset.head()

      Sex  Survived
0    male         0
1  female         1
2  female         1
3  female         1
4    male         0

## Funciones de agregacion

In [96]:
df['mes'].max()

12

In [97]:
df['asignacion_por_cargo_i'].mean()

234234.36800000002

In [98]:
df['asignacion_por_cargo_i'].std()

35043.16008466176

In [99]:
df['total_salario_bruto_i_+_ii'].sum()

97988834.36000001

# Sección nueva

Podemos combinar los filtros que vimos antes con las funciones de agregación para responder preguntas cómo ¿Cuál fue en gasto en asignaciones de funcionarios para la Secretaría de Medios 2019? ¿Y para la de Justicia y Seguridad?

In [103]:
df.describe()

,anio,mes,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii
count,385.0,385.000000,385.000000,385.000000,385.000000
mean,2019.0,6.631169,234234.368000,20282.084883,254516.452883
std,0.0,3.539077,35043.160085,45248.840725,51434.987870
min,2019.0,1.000000,74991.860000,0.000000,185396.540000
25%,2019.0,4.000000,224516.620000,0.000000,224516.620000
50%,2019.0,7.000000,239470.360000,0.000000,245811.620000
75%,2019.0,10.000000,249972.870000,0.000000,263531.980000
max,2019.0,12.000000,275089.750000,170855.560000,445945.310000

In [105]:
df['reparticion'].value_counts()

reparticion
SECR Desarrollo Ciudadano                                         13
Ministerio de Salud                                               13
SECR Justicia y Seguridad                                         13
SECR de Medios                                                    13
Jefe de Gobierno                                                  12
SECR Legal y Técnica                                              12
SS Contenidos                                                     12
Ente de Turismo Ley Nº 2627                                       12
Consejo de los Derechos de Niñas, Niños y Adoles - Presidencia    12
Vicejefatura de Gobierno                                          12
UPE Transferencia de Funciones y Facultades en Materia de Seg.    12
SECR Administración de Seguridad y Emergencias                    12
SECR Integración Social y Urbana                                  12
SECR Integración Social Para Personas Mayores                     12
SECR Planificación, Evaluación y Coordinación de Gestión          12
SS Comunicacion                                                   12
Ministerio de Gobierno                                            12
Ministerio de Desarrollo Urbano y Transporte                      12
Jefatura de Gabinete de Ministros                                 12
Procuración General de la Ciudad de Buenos Aires                  12
Sindicatura General de la Ciudad de Buenos Aires                  12
Ministerio de Cultura                                             12
SECR Transporte                                                   11
Ministerio de Educación e Innovación                              11
SECR Coordinación General                                         11
SECR Cultura Ciudadana y Función Pública                          11
SECR General y de Relaciones Internacionales                      11
Ministerio de Economía y Finanzas                                 11
Ministerio de Hábitat y Desarrollo Humano                         11
SECR Atención y Gestión Ciudadana                                 11
Ministerio de Ambiente y Espacio Público                          11
Ministerio de Espacio Público e Higiene Urbana                     2
SECR Ciencia, Tecnologia e Innovacion                              2
Ministerio de Desarrollo Humano y Hábitat                          2
SECR Desarrollo Urbano                                             1
Ministerio de Desarrollo Económico y Producción                    1
SECR Ambiente                                                      1
SECR Comunicación, Contenidos y Participación Ciudadana            1
SECR Atención Ciudadana y Gestión Comunal                          1
Ministerio de Educación                                            1
Ministerio de Hacienda y Finanzas                                  1
SECR Innovación y Transformación Digital                           1
SECR Transformación Cultural                                       1
SECR Transporte y Obras Públicas                                   1
SECR General y Relaciones Internacionales                          1
SECR Asuntos Estratégicos                                          1
Name: count, dtype: int64

In [104]:
df[df['reparticion'] == 'SECR de Medios']['total_salario_bruto_i_+_ii'].sum()

3232402.25

In [106]:
df[df['reparticion'] == 'SECR Justicia y Seguridad']['total_salario_bruto_i_+_ii'].sum()

3029551.7300000004

Ahora respondamos algunas preguntas: ¿Quién o quiénes del dataset cobran el salario más alto? ¿Y el más bajo?

In [107]:
df[df['total_salario_bruto_i_+_ii'] == df['total_salario_bruto_i_+_ii'].max()]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
374,20-13872301-2,2019,12,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,170855.56,445945.31,NaN

In [108]:
df[df['total_salario_bruto_i_+_ii'] == df['total_salario_bruto_i_+_ii'].min()]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
344,27-30744939-6,2019,12,FERRERO,GENOVEVA,SECR Administración de Seguridad y Emergencias,74991.86,110404.68,185396.54,baja al 9/12
348,20-22709722-2,2019,12,LOPEZ,MATIAS,SECR Desarrollo Ciudadano,74991.86,110404.68,185396.54,baja al 9/12
354,20-20008464-1,2019,12,GIUSTI,JOSE LUIS,UPE Transferencia de Funciones y Facultades en...,74991.86,110404.68,185396.54,baja al 9/12
358,20-31164337-2,2019,12,DI BENEDETTO,FEDERICO,SS Comunicacion,74991.86,110404.68,185396.54,baja al 9/12
360,20-28908968-4,2019,12,COELHO CHICANO,CHRISTIAN,SS Contenidos,74991.86,110404.68,185396.54,baja al 9/12
362,20-24424714-9,2019,12,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,74991.86,110404.68,185396.54,baja al 9/12

## Otros análisis descriptivos

Pandas viene con algunas funciones built-in para ayudar al análisis descriptivo.

## Para las variables numéricas

In [109]:
df.describe()

,anio,mes,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii
count,385.0,385.000000,385.000000,385.000000,385.000000
mean,2019.0,6.631169,234234.368000,20282.084883,254516.452883
std,0.0,3.539077,35043.160085,45248.840725,51434.987870
min,2019.0,1.000000,74991.860000,0.000000,185396.540000
25%,2019.0,4.000000,224516.620000,0.000000,224516.620000
50%,2019.0,7.000000,239470.360000,0.000000,245811.620000
75%,2019.0,10.000000,249972.870000,0.000000,263531.980000
max,2019.0,12.000000,275089.750000,170855.560000,445945.310000

## Para las variables categóricas

In [110]:
df['reparticion'].value_counts()

reparticion
SECR Desarrollo Ciudadano                                         13
Ministerio de Salud                                               13
SECR Justicia y Seguridad                                         13
SECR de Medios                                                    13
Jefe de Gobierno                                                  12
SECR Legal y Técnica                                              12
SS Contenidos                                                     12
Ente de Turismo Ley Nº 2627                                       12
Consejo de los Derechos de Niñas, Niños y Adoles - Presidencia    12
Vicejefatura de Gobierno                                          12
UPE Transferencia de Funciones y Facultades en Materia de Seg.    12
SECR Administración de Seguridad y Emergencias                    12
SECR Integración Social y Urbana                                  12
SECR Integración Social Para Personas Mayores                     12
SECR Planificación, Evaluación y Coordinación de Gestión          12
SS Comunicacion                                                   12
Ministerio de Gobierno                                            12
Ministerio de Desarrollo Urbano y Transporte                      12
Jefatura de Gabinete de Ministros                                 12
Procuración General de la Ciudad de Buenos Aires                  12
Sindicatura General de la Ciudad de Buenos Aires                  12
Ministerio de Cultura                                             12
SECR Transporte                                                   11
Ministerio de Educación e Innovación                              11
SECR Coordinación General                                         11
SECR Cultura Ciudadana y Función Pública                          11
SECR General y de Relaciones Internacionales                      11
Ministerio de Economía y Finanzas                                 11
Ministerio de Hábitat y Desarrollo Humano                         11
SECR Atención y Gestión Ciudadana                                 11
Ministerio de Ambiente y Espacio Público                          11
Ministerio de Espacio Público e Higiene Urbana                     2
SECR Ciencia, Tecnologia e Innovacion                              2
Ministerio de Desarrollo Humano y Hábitat                          2
SECR Desarrollo Urbano                                             1
Ministerio de Desarrollo Económico y Producción                    1
SECR Ambiente                                                      1
SECR Comunicación, Contenidos y Participación Ciudadana            1
SECR Atención Ciudadana y Gestión Comunal                          1
Ministerio de Educación                                            1
Ministerio de Hacienda y Finanzas                                  1
SECR Innovación y Transformación Digital                           1
SECR Transformación Cultural                                       1
SECR Transporte y Obras Públicas                                   1
SECR General y Relaciones Internacionales                          1
SECR Asuntos Estratégicos                                          1
Name: count, dtype: int64

### Ejercicio: Volviendo al ejemplo del Titanic.

1) ¿Cuál era la edad promedio de los pasajeros de cada clase (Pclass)?

2) ¿Cuál fue la tarifa que pagaron en promedio los hombres? ¿Y las mujeres?

3) ¿Cuánto pagaron en total los pasajeros de primera clase para subir al Titanic? ¿Y los de tercera?

4) ¿Cuántos pasajeros había en cada tipo de clase?

In [111]:
df1.Age.groupby(df1['Pclass']).mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [58]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [116]:
df1.groupby('Pclass')['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [118]:
df1.groupby('Sex')['Fare'].mean()

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

In [119]:
## ¿Cuánto pagaron en total los pasajeros de primera clase para subir al Titanic? ¿Y los de tercera?
df1.groupby('Pclass')['Fare'].sum()

Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64

In [120]:
###¿Cuántos pasajeros había en cada tipo de clase?
df1.groupby('Pclass')['PassengerId'].count()

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [121]:
df1['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

## Ordenar por columnas y limitar la cantidad de resultados

Otra forma de resolver el problema de encontrar el mayor y el menos es con el método sort_values. Este método puede recibir un valor único (nombre de columna) o una lista (con varias columnas) y un orden asc o desc. Por default el orden es asc.

Si combinamos el ordenamiento con el método head() para limitar la cantidad de resultados, podemos encontrar los N primeros.

In [122]:
# Recordemos cómo abrir la documentación de un método
df.sort_values?

In [60]:
# Calculamos el máximo
df.sort_values('total_salario_bruto_i_+_ii',ascending=False).head(1)

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
374,20-13872301-2,2019,12,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,170855.56,445945.31,NaN

In [61]:
# Calculamos el mínimo
df.sort_values('total_salario_bruto_i_+_ii').head(1)

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
344,27-30744939-6,2019,12,FERRERO,GENOVEVA,SECR Administración de Seguridad y Emergencias,74991.86,110404.68,185396.54,baja al 9/12

## Anexo: volviendo al tema de la vectorización

¿Por qué es tan importante trabajar con Pandas y no con funciones escritas por nosotros en Python nativo y que procesen los datos dentro de un for loop?

Por un lado está la comodidad. Hay mucha funcionalidad que ya está desarrollada en Pandas. Existen funciones que resuelven muchos de los problemas clásicos de manipular datos: agrupar, sumarizar, sacar estadísticas, filtrar, etc. Pero además hay una razón de performance.

Veamos una demostración de que vectorizar es más eficiente. Vamos a crear dos listas de 1.000.000 de números aleatorios cada una y vamos a tratar de multiplicar elemento por elemento con pandas y sin pandas:

In [62]:
lista1 = list(np.random.randint(1, 100, 1000000))
lista2 = list(np.random.randint(1, 100, 1000000))

In [123]:
lista1

[65,
 59,
 98,
 22,
 48,
 37,
 96,
 78,
 3,
 59,
 73,
 58,
 22,
 98,
 90,
 37,
 72,
 30,
 97,
 36,
 93,
 70,
 1,
 5,
 3,
 13,
 24,
 89,
 23,
 80,
 13,
 71,
 20,
 94,
 61,
 12,
 20,
 90,
 67,
 71,
 41,
 95,
 99,
 16,
 89,
 37,
 34,
 75,
 59,
 62,
 97,
 56,
 86,
 88,
 84,
 85,
 59,
 3,
 41,
 47,
 67,
 66,
 53,
 40,
 78,
 35,
 9,
 25,
 81,
 87,
 13,
 63,
 4,
 83,
 87,
 92,
 45,
 62,
 88,
 64,
 62,
 20,
 18,
 91,
 33,
 14,
 49,
 29,
 94,
 8,
 38,
 61,
 13,
 51,
 63,
 77,
 33,
 58,
 71,
 37,
 12,
 61,
 18,
 81,
 63,
 44,
 18,
 82,
 7,
 73,
 27,
 78,
 59,
 11,
 66,
 30,
 96,
 69,
 80,
 46,
 6,
 72,
 54,
 26,
 28,
 13,
 79,
 42,
 28,
 86,
 23,
 93,
 64,
 44,
 34,
 27,
 32,
 13,
 41,
 46,
 68,
 7,
 43,
 91,
 24,
 72,
 63,
 79,
 96,
 6,
 7,
 99,
 29,
 26,
 61,
 30,
 83,
 26,
 17,
 15,
 87,
 5,
 95,
 85,
 27,
 8,
 21,
 68,
 62,
 74,
 56,
 11,
 63,
 96,
 7,
 79,
 96,
 37,
 4,
 72,
 14,
 14,
 96,
 66,
 38,
 73,
 91,
 86,
 6,
 50,
 57,
 13,
 49,
 73,
 13,
 19,
 79,
 38,
 79,
 48,
 90,
 60,
 98,
 4,
 1,
 1,
 80,
 95,
 53,
 9,
 21,
 41,
 4,
 30,
 33,
 60,
 92,
 42,
 90,
 85,
 16,
 68,
 45,
 27,
 76,
 48,
 90,
 56,
 96,
 19,
 53,
 23,
 87,
 63,
 34,
 26,
 93,
 63,
 48,
 70,
 1,
 83,
 33,
 98,
 77,
 96,
 78,
 59,
 4,
 87,
 4,
 36,
 35,
 2,
 21,
 99,
 53,
 64,
 12,
 81,
 7,
 19,
 14,
 79,
 37,
 48,
 64,
 49,
 47,
 39,
 90,
 31,
 85,
 61,
 97,
 64,
 6,
 90,
 21,
 47,
 37,
 89,
 64,
 75,
 1,
 58,
 22,
 69,
 11,
 37,
 47,
 44,
 15,
 45,
 5,
 48,
 24,
 26,
 28,
 18,
 84,
 28,
 81,
 46,
 58,
 98,
 47,
 31,
 52,
 56,
 88,
 32,
 88,
 48,
 97,
 5,
 30,
 68,
 57,
 82,
 39,
 35,
 26,
 98,
 32,
 62,
 11,
 84,
 2,
 52,
 73,
 58,
 89,
 71,
 87,
 73,
 83,
 27,
 42,
 10,
 35,
 56,
 32,
 18,
 58,
 2,
 45,
 30,
 12,
 81,
 53,
 95,
 72,
 31,
 14,
 16,
 82,
 96,
 29,
 61,
 74,
 36,
 5,
 89,
 55,
 73,
 14,
 34,
 90,
 97,
 35,
 49,
 83,
 35,
 12,
 24,
 69,
 86,
 10,
 83,
 3,
 2,
 90,
 8,
 57,
 50,
 14,
 4,
 97,
 51,
 65,
 5,
 16,
 73,
 71,
 4,
 2,
 44,
 70,
 53,
 14,
 77,
 17,
 56,
 90,
 63,
 21,
 32,
 50,
 42,
 90,
 27,
 25,
 11,
 42,
 63,
 38,
 33,
 4,
 1,
 65,
 70,
 67,
 95,
 26,
 40,
 4,
 20,
 30,
 71,
 71,
 52,
 72,
 65,
 28,
 39,
 75,
 15,
 25,
 49,
 85,
 69,
 45,
 22,
 5,
 67,
 99,
 62,
 54,
 75,
 67,
 78,
 52,
 62,
 6,
 73,
 68,
 77,
 18,
 42,
 60,
 96,
 55,
 89,
 1,
 69,
 19,
 57,
 61,
 83,
 19,
 72,
 58,
 4,
 53,
 47,
 49,
 60,
 5,
 84,
 4,
 16,
 76,
 80,
 95,
 75,
 21,
 42,
 13,
 44,
 31,
 74,
 43,
 40,
 33,
 63,
 43,
 9,
 22,
 33,
 33,
 20,
 26,
 71,
 62,
 64,
 48,
 82,
 99,
 60,
 83,
 95,
 56,
 65,
 52,
 40,
 71,
 32,
 59,
 92,
 35,
 95,
 85,
 33,
 19,
 20,
 72,
 6,
 44,
 37,
 34,
 49,
 55,
 27,
 26,
 57,
 96,
 65,
 75,
 93,
 65,
 35,
 71,
 83,
 37,
 54,
 3,
 18,
 57,
 50,
 57,
 4,
 8,
 66,
 97,
 19,
 50,
 84,
 69,
 76,
 60,
 14,
 67,
 22,
 23,
 35,
 11,
 28,
 23,
 90,
 31,
 99,
 7,
 96,
 37,
 6,
 67,
 47,
 67,
 42,
 1,
 87,
 3,
 83,
 26,
 40,
 8,
 78,
 20,
 69,
 83,
 10,
 35,
 28,
 15,
 92,
 10,
 97,
 41,
 78,
 6,
 42,
 57,
 6,
 34,
 69,
 12,
 78,
 3,
 36,
 69,
 82,
 83,
 40,
 63,
 90,
 15,
 91,
 55,
 15,
 6,
 88,
 59,
 18,
 71,
 26,
 28,
 45,
 98,
 50,
 68,
 17,
 72,
 29,
 96,
 94,
 47,
 37,
 36,
 27,
 48,
 30,
 87,
 72,
 84,
 84,
 68,
 94,
 24,
 71,
 50,
 68,
 56,
 59,
 70,
 50,
 27,
 52,
 93,
 69,
 41,
 9,
 7,
 35,
 6,
 42,
 78,
 13,
 8,
 90,
 46,
 99,
 55,
 6,
 7,
 35,
 76,
 78,
 79,
 73,
 96,
 85,
 19,
 4,
 62,
 68,
 29,
 82,
 52,
 94,
 88,
 75,
 63,
 58,
 46,
 33,
 66,
 86,
 14,
 66,
 87,
 98,
 69,
 53,
 11,
 62,
 73,
 16,
 6,
 98,
 90,
 87,
 97,
 82,
 83,
 66,
 42,
 55,
 50,
 48,
 90,
 77,
 57,
 5,
 20,
 36,
 73,
 25,
 18,
 99,
 68,
 29,
 13,
 20,
 53,
 77,
 8,
 71,
 52,
 86,
 78,
 81,
 75,
 97,
 89,
 1,
 78,
 47,
 89,
 54,
 89,
 68,
 95,
 80,
 18,
 48,
 77,
 62,
 87,
 94,
 49,
 94,
 34,
 57,
 5,
 63,
 54,
 56,
 59,
 14,
 11,
 24,
 7,
 71,
 84,
 22,
 28,
 96,
 40,
 86,
 4,
 18,
 3,
 54,
 30,
 92,
 23,
 29,
 92,
 93,
 99,
 37,
 52,
 92,
 64,
 94,
 48,
 35,
 64,
 28,
 98,
 66,
 22,
 85,
 32,
 78,
 35,
 63,
 59,
 30,
 55,
 23,
 31,
 74,
 21,
 77,
 29,
 50,
 28,
 24,
 8,
 6,
 49,
 26,
 73,
 36,
 64,
 20,
 79,
 58,
 63,
 48,
 93,
 50,
 58,
 59,
 89,
 4,
 35,
 20,
 8,
 88,
 35,
 75,
 31,
 69,
 41,
 48,
 63,
 61,
 1,
 72,
 33,
 36,
 72,
 19,
 35,
 41,
 10,
 19,
 2,
 80,
 12,
 19,
 41,
 35,
 10,
 24,
 73,
 30,
 80,
 68,
 79,
 82,
 62,
 63,
 39,
 64,
 53,
 61,
 72,
 40,
 45,
 8,
 39,
 92,
 59,
 69,
 25,
 59,
 63,
 96,
 80,
 20,
 60,
 89,
 23,
 6,
 90,
 11,
 69,
 34,
 92,
 9,
 86,
 33,
 1,
 90,
 90,
 54,
 74,
 80,
 79,
 16,
 56,
 87,
 43,
 44,
 84,
 29,
 2,
 42,
 41,
 33,
 98,
 80,
 9,
 96,
 9,
 99,
 4,
 96,
 98,
 69,
 36,
 79,
 52,
 24,
 73,
 14,
 39,
 89,
 63,
 83,
 22,
 6,
 4,
 46,
 78,
 16,
 22,
 60,
 24,
 5,
 64,
 18,
 91,
 64,
 73,
 80,
 46,
 12,
 65,
 38,
 83,
 45,
 85,
 5,
 72,
 25,
 5,
 46,
 61,
 50,
 36,
 34,
 32,
 75,
 66,
 35,
 18,
 86,
 60,
 79,
 28,
 2,
 1,
 46,
 52,
 60,
 33,
 30,
 67,
 48,
 81,
 74,
 88,
 63,
 75,
 56,
 ...]

In [124]:
%%timeit
for x,y in zip(lista1,lista2):
    x * y

46.7 ms ± 1.31 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Ahora probemos hacer lo mismo con dos series de Pandas

In [101]:
serie1 = pd.Series(lista1)
serie2 = pd.Series(lista2)

In [125]:
%%timeit
resultado = serie1 * serie2

1.09 ms ± 246 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

Conclusión: la operación vectorizada es <strong> más de 70 veces más rápida.</strong>